html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;;
	background: url("/unit1_projects/images/switzerland.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#content_area {
    display: table;
    width: 100%;
    height: 100%;
}
#content_area > div {
    display: table-row;
}
#content_area > div > div {
    display: table-cell;
}
#top,
#bottom {
    height: 50px;
}
#content_area > div > #topleft,
#content_area > div > #middleleft,
#content_area > div > #bottomleft {
    width: 300px;
}
#content_area > div > #middleleft {
    background: #23A9E0;
}
#content_area > div > #middleright {
    background: #39E023;
}
#content_area > div > #topright,
#content_area > div > #bottomright {
    background: #208D11;
}
#content_area > div > #topleft,
#content_area > div > #bottomleft {
    background: #092A7C;
}