body{
	margin: 40px;
	border: 50px solid black;
	padding: 10px;
	height: 600px;
	width: 600px;

}
#imgid{
	width: 200px;
	height: 200px;
}

.top{
	position: absolute;
	left: 215px;
	z-index: 2;
	color: blue;
	font-style: bold;
	background-color: black;
}

#header{
	float: top;
	width: 600px;
	height: 200px;
}
#content_area{
	float: right;
	height: 400px;
	width: 400px;
}

#sidebar{
    float:left;
    width:200px;
    height: 200px;
    top: -40px;
  }

#footer{
}

.purple{
	color: purple;
	font-style: bold;
}

a:link{
	color: blue;
}
a:visited{
	color: yellow;
}
a:hover{
	color:purple;
}
a:active{
	color: cyan;
}