body{
	margin: 40px;
	border: 50px solid black;
	padding: 10px;

}

#header{
	text-align: center;
}
#content_area{
	text-align: center;

}

#sidebar{
    float:left;
    width:160px;
    top: -40px;
  }

#footer{
	left: 80px;
}

.purple{
	color: purple;
}

a:link{
	color: blue;
}
a:visited{
	color: yellow;
}
a:hover{
	color:purple;
}
a:active{
	color: cyan;
}