html { 
	background: url("/unit1_projects/images/switzerland.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body{
	margin: auto;
	/*border: 50px solid #CC5C14;*/
	padding: ;
	height: auto;
	width: auto;
	color: #1C638F;
}

#dashboard{
	width: 800px;
	margin-top: 20px;
	margin-right:  auto;
	margin-left:  auto;
	margin-bottom: 0px;
	height: auto;
	background-color: #C0D1DB;
	border: 10px solid #A8A8A8;
	border-radius: 5px;

}

#sidebar{
	background-color: #D5611F;
    float:left;
    border: 1px black solid;
    height: 1400px;
    padding: 2px;
    width: 33%;
    text-align: left;
}

#content_area{
	width: 66%;
}

#sidebar ul{
	list-style-type: none;
}

#sidebar li{
	margin: 5px auto;
	font-weight:bold;
}

#footer{
	clear:both;
	color: #C3883F;
	text-align: center;
	font-weight:bold;
}
#footer a{
	color: #76480F;
	font-weight:bold;
}
/*
#dashboard{
	display: table;
	background-color: #C0D1DB;
	min-height: 500px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	margin-top: 40px;
}

#gradient{
	background: -webkit-linear-gradient(#2614CC, #463D99); 
	background: -o-linear-gradient(#2614CC, #463D99); 
	background: -moz-linear-gradient(#2614CC, #463D99;
	background: linear-gradient(#2614CC, #463D99); 
}

.top{
	position: absolute;
	left: 300px;
	z-index: 2;
	color: white;
	font-style: bold;
	font-family: Calibri sans-serif;
	background-color: #463D99;
}

#header{
	display: table-row;
	float: top;
	width: 600px;
	height: 200px;
	margin: auto;
	text-align: center;
	border: 5px solid black;
}
#content_area{
	display: table-cell;
	float: right;
	border-radius: 10px;
	border: 50px solid black;
	padding: 10px;
	height: auto;
	width: ;
	color: #FF9F30;
}

#sidebar{
	display: table-cell;
	background-color: #2F3E43;
    float:left;
    width:60px;
    height: 200px;
    top: -40px;

  }

#footer{
	clear:both;
	color: white;
	text-align: center;
	background-color: #463D99;
}

.purple{
	color: purple;
	font-style: bold;
}

a:link{
	color: #FF9F30;
}
a:visited{
	color: #CC5C14;
}
a:hover{
	color:#006EFF;
}
a:active{
	color: #463D99;
}/*