body{
	margin: 40px;
	border: 50px solid black;
	padding: 10px;
	height: 600px;
	width: 600px;
	background: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(red, blue); /* Standard syntax */
}

#imgid{
	width: 200px;
	height: 200px;
}

.top{
	position: absolute;
	left: 300px;
	z-index: 2;
	color: white;
	font-style: bold;
	font-family: Calibri sans-serif;
	background-color: black;
}

#header{
	float: top;
	width: 600px;
	height: 200px;
	text-align: center;
}
#content_area{
	float: right;
	height: 400px;
	width: 400px;
}

#sidebar{
    float:left;
    width:200px;
    height: 200px;
    top: -40px;
  }

#footer{
	clear:both;
	color: white;
	text-align: center;
}

.purple{
	color: purple;
	font-style: bold;
}

a:link{
	color: blue;
}
a:visited{
	color: yellow;
}
a:hover{
	color:purple;
}
a:active{
	color: cyan;
}