html { 
	background: url(unit1_projects/images/water.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body{
	margin: 40px;
	/*border: 50px solid #CC5C14;*/
	padding: 10px;
	height: auto;
	width: auto;
	color: #FF9F30;
}

#gradient{
	background: -webkit-linear-gradient(#2614CC, #463D99); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#2614CC, #463D99); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#2614CC, #463D99; /* For Firefox 3.6 to 15 */
	background: linear-gradient(#2614CC, #463D99); /* Standard syntax */
}

img {
    width: 50%; /* you can use % */
    height: auto;
}

.top{
	position: absolute;
	left: 300px;
	z-index: 2;
	color: white;
	font-style: bold;
	font-family: Calibri sans-serif;
	background-color: #463D99;
}

#header{
	float: top;
	width: 600px;
	height: 200px;
	text-align: center;
}
#content_area{
	float: right;
	border-radius: 10px;
	border: 50px solid ;
	padding: 10px;
	height: auto;
	width: auto;
	color: #FF9F30;
}

#sidebar{
    float:left;
    width:200px;
    height: 200px;
    top: -40px;
  }

#footer{
	clear:both;
	color: white;
	text-align: center;
	background-color: #463D99;
}

.purple{
	color: purple;
	font-style: bold;
}

a:link{
	color: #FF9F30;
}
a:visited{
	color: #CC5C14;
}
a:hover{
	color:#006EFF;
}
a:active{
	color: #463D99;
}